In [1]:
from ConvergenceAnalysis import *

In [2]:
fd_beta_data
# rename System to Molecule
fd_beta_data.rename(columns={'System':'Molecule'}, inplace=True)

In [3]:
fd_beta_data

  Molecule      R     dipole      alpha        beta
0      LiH  3.0150 -2.361805  21.874128  306.874000
1       BH  2.3289 -0.684961  22.559887  -10.458300
2       FH  1.7328 -0.756076   5.754232   -8.448100
3       CO  2.1320  0.104245  14.466680   31.408084
4       BF  2.3860  0.342808  16.645013   63.968600
5     NaCl  4.4613       NaN  28.700184 -222.796700
6     LiBr  4.1015       NaN  34.050885 -148.976600
7       KF  4.1035       NaN  15.588210  -52.430000
8     HeNe  2.7500       NaN  22.560640  -10.459700

In [4]:
# query molecule LiH 
fd_beta_data.query('Molecule == "LiH"')

  Molecule     R     dipole      alpha     beta
0      LiH  3.015 -2.361805  21.874128  306.874

In [3]:
from DataAnalysisClass import *

from DataAnalysisClass import *

ModuleNotFoundError: No module named 'plotly'